# Игнорировать собственные настройки VS Code
.vscode/

# Игнорировать папки зависимостей (для Node.js)
node_modules/

# Игнорировать виртуальное окружение (для Python)
env/
venv/
.env

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать все файлы с расширением .log
*.log

# Игнорировать файл для отладки кода
test.ipynb

